* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #634832;
}

#intro{
    width: 100%;
    height: 60rem;
    background: #15202B;
    border: 0.2rem solid white;
    /*github, linkedin and mail icon from fontawesome */
}

#about{
    width: 100%;
    height: 40rem;
    background: #0B192F;
    border: 0.2rem solid white;
}


#experience{
    width: 100%;
    height: 30rem;
    background: #0B192F;
    border: 0.2rem solid white;
}

#projects{
    width: 100%;
    height: 50rem;
    background: #0B192F;
    border: 0.2rem solid white;
}

